.navbar{
    padding: 33px 0px;
    margin-bottom: 65px;
}
.nav-logo{
    width: 170px;
    height: auto;
    object-fit: contain;
}
.nav-menu > a{
    margin-left: 38px;
}







@media all and (min-width: 1280px){
  
}
@media all and (min-width: 1440px){
  
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
  
}
@media all and (max-width: 994px){
  
}
@media all and (max-width: 972px){
    
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
    .nav-menu{
        display: none;
    }
}
@media all and (max-width: 568px){
    
}

@media all and (max-width: 430px){
    
}
@media all and (max-width: 320px){
  
}