.home-sec1{
    margin-bottom: 200px;
}
.home-sec1-btn-wrap > a{
    width: 236px;
    height: 65px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
}
.home-sec1-btn-wrap > a:first-child{
    margin-right: 24px;
    background: #F4AADC;
    background: linear-gradient(-161.17deg, #F4AADC -26.4%, #6C31EB 100%);
    background: -moz-linear-gradient(-161.17deg, #F4AADC -26.4%, #6C31EB 100%);
    background: -webkit-linear-gradient(-161.17deg, #F4AADC -26.4%, #6C31EB 100%);
    border: unset;
}
.home-sec1-btn-wrap > a:hover:first-child{
    opacity: 0.8;
}
.home-sec1-btn-wrap > a:hover:last-child{
    background-color: white;
    color: #0E0E0E;
}

.home-sec1-h{
    margin: unset;
    margin-bottom: 9px;
}
.home-sec1-p{
    margin: unset;
    margin-bottom: 24px;
}
.home-sec1-img{
    max-width: 467.19px;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: -11px;
}



.home-sec2-c{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    margin-bottom: 263px;
}
.home-sec2-itm > img{
    width: 100%;
    height: 219px;
    object-fit: cover;
}
.home-sec2-itm > h2{
    margin-top: 20px;
    margin-bottom: 23px;
}



.home-sec3{
    margin-bottom: 200px;
}
.home-sec3-c{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 58px;
    grid-row-gap: 0px;
}
.home-sec3-btn{
    border: 1px solid white;
    border-radius: 10px;
    max-width: 236px;
    width: 100%;
    height: 65px;
    margin-top: 41px ;
}
.home-sec3-btn:hover{
    background-color: white;
    color: #0E0E0E;
}
.home-sec3-c > .left > img{
    height: 358px;
    object-fit: cover;
    flex:1;
}
.home-sec3-c > .left > img:first-child{
    width: 238px;
    flex:unset;
}


.home-sec4{
    margin-bottom: 227px;
}
.home-sec4-h{
    margin-bottom: 77px;
    max-width: 492px;
    width: 100%;
}
.home-sec4-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 28px;
}
.home-sec4-grid > a{
    width: 100%;
}
.home-sec4-grid > .itm-top{
    background-color: rgba(255, 255, 255, 0.1);
}
.home-sec4-grid > .itm-top > .inner-wrap{
    padding: 14px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.home-sec4-grid > .itm-top > img{
    width: 100px;
    height: 100px;
    object-fit: cover;  
}

.home-sec4-grid > .itm-btm > img{
    width: 100%;
    height: 270px;
    object-fit: cover;  
}
.home-sec4-grid > .itm-btm > .inner-wrap{
    margin-top: 19px;
}
.home-sec4-grid > .itm-btm > .inner-wrap > div:first-child{
    margin-bottom: 12px;
    height: 2.5rem;
}
.home-sec4-grid > .itm-btm > .inner-wrap > div:last-child > img{
    margin-left: 28px;
}


.home-sec5{
    margin-bottom: 200px;
}
.home-sec5-img-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 546px;
    width: 100%;
    margin-top: 44px;
    margin-bottom: 63px;
}
.home-sec5-h{
    margin: unset;
}
.home-sec5-p{
    max-width: 770px;
    width: 100%;
}


.home-sec6{
    margin-bottom: 81px;
}
/* .home-sec6-c{
} */
.home-sec6-h{
    margin: unset;
    margin-bottom: 35px;
    max-width: 967px;
    width: 100%;
}
.home-sec6-btn{
    padding: 18px 53px;
    border: 1px solid white;
    border-radius: 10px;
}
.home-sec6-btn:hover{
    background-color: white;
    color: #0E0E0E;
}
.home-sec6-wrap{
    background: #310098;
    background: linear-gradient(-94deg, #310098 4.61%, #000000 87.29%);
    background: -moz-linear-gradient(-94deg, #310098 4.61%, #000000 87.29%);
    background: -webkit-linear-gradient(-94deg, #310098 4.61%, #000000 87.29%);
    border-radius: 20px;
    padding: 48px;
}





@media all and (min-width: 1280px){
  
}
@media all and (min-width: 1440px){
  
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
  
}
@media all and (max-width: 994px){
  
}
@media all and (max-width: 972px){
    .home-sec3-c{
        grid-template-columns: repeat(1, 1fr);
    }
    .home-sec3-c > .right{
        margin-top: 30px;
    }
    .home-sec4-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  
}
@media all and (max-width: 568px){
    .home-sec1-h{
        font-size: 30px;
        line-height: 120%;
    }
    .home-sec1-img{
        width: 50%;
    }
    .home-sec2-c,
    .home-sec4-grid{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .home-sec2-itm{
        margin-bottom: 20px;
    }
    .home-sec3-c > .left{
        display: flex;
        flex-direction: column;
    }
    .home-sec3-c > .left > img:first-child{
        width: 100%;
    }
    .home-sec5-img-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
    .home-sec5-img-wrap > img{
        width: 100%;
    }   
}
@media all and (max-width: 430px){
    
}
@media all and (max-width: 320px){
  
}