.footer{
    padding-bottom: 50px;
}
.footer-left{
    max-width: 300px;
}
.footer-p{
    margin: unset;
    margin-bottom: 26px;
}
.footer-social-wrap > a > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 12px;
}
.footer-social-wrap > a{
    margin-right: 16px;
}
.footer-logo{
    height: 47.88px;
}
.footer-menu > a{
    margin-bottom: 8px;
}
.footer-input{
    margin-top: 8px;
    padding: 13px 24px;
    border-radius: 48px;
    background-color: white;;
}
.footer-input > input{
    width: 183px;
}
.footer-input > button{
    margin-left: 48px;
}






@media all and (min-width: 1280px){
  
}
@media all and (min-width: 1440px){
  
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
  
}
@media all and (max-width: 994px){
  
}
@media all and (max-width: 972px){
    .footer > .container:last-child{
        flex-direction: column;
    }
    .footer-left {
        margin-bottom: 50px;
    }
    .footer-form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-menu{
        margin-bottom: 20px;
    }
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  
}
@media all and (max-width: 568px){
    
}

@media all and (max-width: 430px){
    .footer-input > button{
        margin-left: 20px;
    }
    .footer-input{
        display: flex;
    }
    .footer-input > input{
        flex: 1;
        width: unset;
    }
}
@media all and (max-width: 320px){
  
}