@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');

.f-syne{
  font-family: 'Syne', sans-serif;
}


*{
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}
body{
  max-width:100vw;
  overflow-x: hidden;
  overflow-y: auto;
  margin: unset;
  background-color: #0E0E0E;
}
#root{
  overflow-x: hidden;
  overflow-y: auto;
}
a{
  text-decoration: none;
  color: unset;
}
button,
input,
select,
textarea{
  appearance: none;
  -webkit-appearance: none;
  border:unset;
  background-color: transparent;
  margin: unset;
  padding: unset;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.section{
  width:100%;
  position:relative;
}
.container{
  max-width:1440px;
  position:relative;
  width: 100%;
  margin: auto;
  padding: 0 135px;
}
.cursor{
  cursor: pointer;
}
.no-margin{
  margin: unset;
}



.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-r.v-center{
  align-items: center;
}
.flex-r.v-top{
  align-items: flex-start;
}
.flex-r.v-btm{
  align-items: flex-end;
}
.flex-r.h-center{
  justify-content: center;
}
.flex-r.h-left{
  justify-content: start;
}
.flex-r.h-right{
  justify-content: end;
}
.flex-r.just-space{
  justify-content: space-between;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-c.h-center{
  align-items: center;
}
.flex-c.h-left{
  align-items: flex-start;
}
.flex-c.h-right{
  align-items: flex-end;
}
.flex-c.v-center{
  justify-content: center;
}
.flex-c.v-top{
  justify-content: start;
}
.flex-c.h-btm{
  justify-content: end;
}




.t-400{
  font-weight: 400;
}
.t-500{
  font-weight: 500;
}
.t-600{
  font-weight: 600;
}
.t-700{
  font-weight: 700;
}
.t-800{
  font-weight: 800;
}



.t-14-21{
  font-size: 14px;
  line-height: 21px;
}
.t-16-19{
  font-size: 16px;
  line-height: 19px;
}
.t-16-24{
  font-size: 16px;
  line-height: 24px;
}
.t-18-27{
  font-size: 18px;
  line-height: 27px;
}
.t-24-36{
  font-size: 24px;
  line-height: 36px;
}
.t-24-28{
  font-size: 24px;
  line-height: 28px;
}
.t-36-43{
  font-size: 36px;
  line-height: 43px;
}
.t-36-62{
  font-size: 36px;
  line-height: 62px;
}
.t-48-57{
  font-size: 48px;
  line-height: 57px;
}
.t-64-77{
  font-size: 64px;
  line-height: 77px;
}


.t-spacing-3{
  letter-spacing: 0.03em;
}
.t-spacing-10{
  letter-spacing: 0.10em;
}
.t-spacing-11{
  letter-spacing: 0.11em;
}
.t-spacing-20{
  letter-spacing: 0.2em;
}
.t-spacing-30{
  letter-spacing: 0.3em;
}



.c-white-1{
  color: white;
}
.c-grey-1{
  color : #9E9E9E;
}
.c-black-1{
  color : #0E0E0E;
}
.c-purple-1{
  color: #A431FF;
}



.t-upper{
  text-transform: uppercase;
}


.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}
.t-left{
  text-align: left;
}


.line-clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.line-clamp.clamp-1{
  -webkit-line-clamp: 1;
}
.line-clamp.clamp-2{
  -webkit-line-clamp: 2;
}
.line-clamp.clamp-3{
  -webkit-line-clamp: 3;
}
.line-clamp.clamp-4{
  -webkit-line-clamp: 4;
}















@media all and (min-width: 1280px){
  
}
@media all and (min-width: 1440px){
  
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
  .container{
    padding: 0 40px;
  }
}
@media all and (max-width: 994px){
  
}
@media all and (max-width: 972px){

}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  .container{
    padding: 0 20px;
  }



  
  .t-14-21{
    font-size: 12px;
    line-height: 18px;
  }
  .t-16-19{
    font-size: 14px;
    line-height: 16px;
  }
  .t-16-24{
    font-size: 14px;
    line-height: 20px;
  }
  .t-18-27{
    font-size: 16px;
    line-height: 24px;
  }
  .t-24-36{
    font-size: 18px;
    line-height: 32px;
  }
  .t-24-28{
    font-size: 18px;
    line-height: 24px;
  }
  .t-36-43{
    font-size: 27px;
    line-height: 38px;
  }
  .t-36-62{
    font-size: 27px;
    line-height: 57px;
  }
  .t-48-57{
    font-size: 37px;
    line-height: 48px;
  }
  .t-64-77{
    font-size: 57px;
    line-height: 62px;
  }
}
@media all and (max-width: 568px){
    
}

@media all and (max-width: 430px){
  
}
@media all and (max-width: 320px){
  
}














